<div class="user-list">
  <h2>User List</h2>
  <ul>
    <li
      *ngFor="let user of users"
      (click)="selectUser(user)"
      class="user-item"
      [class.selected]="selectedUser?.id === user.id"
    >
      {{ user.name }} ({{ user.role }})
    </li>
  </ul>
  <app-user-detail *ngIf="selectedUser" [user]="selectedUser"></app-user-detail>

  <ng-container *ngIf="selectedUser">
    <h3>Update Role :</h3>
    <app-role-selector
      (roleChange)="updateUserRole(selectedUser, $event)"
      [selectedRole]="selectedUser.role"
    ></app-role-selector>
  </ng-container>
</div>
