<h2 mat-dialog-title>Set WIP Limit</h2>

<mat-dialog-content>
  <form [formGroup]="wipForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>WIP Limit</mat-label>
      <input matInput type="number" formControlName="limit" min="1" max="20">
      <mat-error *ngIf="wipForm.get('limit')?.hasError('required')">
        WIP limit is required
      </mat-error>
      <mat-error *ngIf="wipForm.get('limit')?.hasError('min')">
        Minimum limit is 1
      </mat-error>
      <mat-error *ngIf="wipForm.get('limit')?.hasError('max')">
        Maximum limit is 20
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!wipForm.valid">Save</button>
</mat-dialog-actions>