<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Inventory System</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/users" routerLinkActive="active-link">Users</a>
  <a mat-button routerLink="/products" routerLinkActive="active-link"
    >Products</a
  >
  <a mat-button routerLink="/task-management" routerLinkActive="active-link"
    >Task Management</a
  >
  <a mat-button routerLink="/inventory" routerLinkActive="active-link"
    >Inventory</a
  >
  <a mat-button routerLink="/inventory/suppliers" routerLinkActive="active-link"
    >Suppliers</a
  >
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
